{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1 class="h3 mb-3 font-weight-normal">{{ 'register'|trans({}, 'common') }}</h1>
<div>
    {{ form_start(form) }}
    <div class="mb-3">{{ form_errors(form) }}</div>
    <div class="mb-3">{{ form_rest(form) }}</div>
    <button class="btn btn-lg btn-primary">{{ 'validate'|trans({}, 'common') }}</button>
    {{ form_end(form) }}
</div>
{% endblock %}
