{% extends 'base.html.twig' %}
{% trans_default_domain 'login' %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{ 'connected'|trans({
                '%userName%': app.user.username,
                '%link_start%': '<a href="'~path('app_logout')~'">',
                '%link_end%': '</a>'
            })| raw }}
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{ 'title'|trans }}</h1>
    <div class="mb-3">
        <form action="{{ path('login') }}" method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password"/>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit">login</button>
        </form>
    </div>
{% endblock %}

